<ion-header>
  <ion-toolbar>
    <ion-title>Valorar Restaurantes</ion-title>
    <ion-buttons>
      <ion-back-button>
       <ion-title>Volver</ion-title>
     </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Seguimiento de Pedido
    </ion-card-header>
    <ion-card-content>
      <div class="status-bar">
        <div class="status-marker in-preparation">
          <span>En Preparación</span>
        </div>
        <div class="status-marker in-transit">
          <span>En Camino</span>
        </div>
        <div class="status-marker delivered">
          <span>Llegó a Destino</span>
        </div>
      </div>
    </ion-card-content>
    <ion-button 
    expand="block" 
    class="ion-margin" 
    color="secondary"
    (click)="valor()">Valorar restaurantes
    </ion-button>
  </ion-card>

  

</ion-content>

<footer class="footer">
  <!-- ion tab -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="cuenta" routerLink="/cuenta">
      <ion-icon name="person-outline"></ion-icon>
      Cuenta
    </ion-tab-button>
    <ion-tab-button tab="menu" routerLink="/menu-principal">
      <ion-icon name="home-outline"></ion-icon>
      Menú
    </ion-tab-button>
    <ion-tab-button tab="Pedidos" routerLink="/pedidos">
      <ion-icon name="pizza-outline"></ion-icon>
      Pedidos
    </ion-tab-button>
    <ion-tab-button tab="restaurant" routerLink="/restaurantes">
      <ion-icon name="restaurant-outline"></ion-icon>
      Restaurantes
    </ion-tab-button>
  </ion-tab-bar>
</footer>
