<ion-header>
  <ion-toolbar>
    <ion-title>Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-item><strong> Saldo cliente: {{saldoTotalCliente}}</strong></ion-item>
  <ion-card *ngFor="let pedido of pedidos">
    <ion-card-header>
      <ion-card-title>{{ pedido.Pedido.restaurante }}</ion-card-title>
      <ion-card-subtitle>{{ pedido.Pedido.nombre }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Precio: {{ pedido.Pedido.precio }}</ion-label>
        <img [src]="pedido.Pedido.imagen" alt="{{ pedido.Pedido.nombre }}" style="width: 60px; height: 60px; border-radius: 10%;">
      </ion-item>
    </ion-card-content>
  </ion-card>

  <div class="total-compra-contanier">
    <ion-item class="total-compra">
      Total: {{ calcularTotal() }}
      <br>
      Saldo final: {{ saldoFinal }}
    </ion-item>
  </div>


  <ion-buttons>
    <ion-button (click)="eliminarPedidosDelUsuario(uid)" color="danger">
      <strong>Cancelar compra</strong>
      <ion-icon name="close-outline" slot="end"></ion-icon>
    </ion-button>
    <ion-button routerLink="/home" [disabled]="!compraValida" (click)="continuarCompra()">
      <strong>pagar</strong>
      <ion-icon name="card-outline" slot="end"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-content>




<footer class="footer">
  <!-- ion tab -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="cuenta" routerLink="/cuenta">
      <ion-icon name="person-outline"></ion-icon>
      Cuenta
    </ion-tab-button>
    <ion-tab-button tab="menu" routerLink="/menu-principal">
      <ion-icon name="home-outline"></ion-icon>
      Menú
    </ion-tab-button>
    <ion-tab-button tab="Pedidos" routerLink="/pedidos">
      <ion-icon name="pizza-outline"></ion-icon>
      Pedidos
    </ion-tab-button>
    <ion-tab-button tab="restaurant" routerLink="/restaurantes">
      <ion-icon name="restaurant-outline"></ion-icon>
      Restaurantes
    </ion-tab-button>
  </ion-tab-bar>
</footer>
