@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

*{
    font-family: 'Nunito', sans-serif;
}
.total-compra{
    margin: 5px;
}
.total-compra{
    border: 2px solid #e4e4e4; 
    border-radius: 15px;
}