<ion-header>
  <ion-toolbar class="toolbar">
    <div class="cont-ubicacion">
      <ion-row class="ion-align-items-center">
        <ion-col size="auto">
          <ion-avatar>
            <ion-buttons>
              <img src="assets/icon/isotipo-gray.png" alt="">
            </ion-buttons>
          </ion-avatar>
        </ion-col>
        <ion-col>
          <ion-title mode="md">
            <ion-label>
              <ion-text>Estás en</ion-text>
              <p>
                Santiago, Chile
                <ion-icon color="dark" name="chevron-down-outline"></ion-icon>
              </p>
            </ion-label>
          </ion-title>
        </ion-col>
        <ion-col size="auto">
          <ion-buttons>
            <ion-button routerLink="/pedidos">
              <ion-badge slot="end">&#9679;</ion-badge>
              <ion-icon slot="icon-only" name="cart" color="dark"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </div>
    <div class="barra-busqueda ion-padding">
      <ion-searchbar show-clear-button="always" clear-icon="close" (ionInput)="getItems($event)"></ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let restaurante of restaurantes">
    <img [src]="restaurante.img" alt="{{ restaurante.nombre }}">
    <ion-card-header>
      <ion-card-title>{{ restaurante.nombre }}</ion-card-title>
      <ion-card-subtitle>{{ restaurante.especialidad }}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{ restaurante.descripcion }}
      <ion-button fill="clear" expand="block" (click)="getMenuRestaurante(restaurante.id)">Ver menú</ion-button>
    </ion-card-content>
  </ion-card>
  
  <!-- Modal mmuestra menus restaurantes -->
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu - {{ restauranteSeleccionado?.nombre }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-card *ngIf="restauranteSeleccionado && menuRestaurante && menuRestaurante.length > 0">
          <ion-card-content>
            <div class="container-menu">
              <ion-list>
                <ion-item *ngFor="let plato of menuRestaurante">
                  <div class="items-menu">
                    <img [src]="plato.img" alt="{{ plato.nombre }}">
                    <ion-label><h2>{{ plato.nombre }}</h2></ion-label>
                    <ion-label><p>{{ plato.info }}</p></ion-label>
                    <ion-label> <p>Precio: {{ plato.precio }}</p></ion-label>
                    <ion-button fill="clear" (click)="agregarAlCarrito(uid, plato, restauranteSeleccionado)">Agregar al Carrito</ion-button>
                  </div>
                </ion-item>
              </ion-list>
            </div>
          </ion-card-content>
        </ion-card>
        <div *ngIf="!restauranteSeleccionado || (menuRestaurante && menuRestaurante.length === 0)">
          <p>No se ha encontrado menú para este restaurante.</p>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>


<footer class="footer">
  <!-- ion tab -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="cuenta" routerLink="/cuenta">
      <ion-icon name="person-outline"></ion-icon>
      Cuenta
    </ion-tab-button>
    <ion-tab-button tab="menu" routerLink="/menu-principal">
      <ion-icon name="home-outline"></ion-icon>
      Menú
    </ion-tab-button>
    <ion-tab-button tab="Pedidos" routerLink="/pedidos">
      <ion-icon name="pizza-outline"></ion-icon>
      Pedidos
    </ion-tab-button>
    <ion-tab-button tab="restaurant" routerLink="/restaurantes">
      <ion-icon name="restaurant-outline"></ion-icon>
      Restaurantes
    </ion-tab-button>
  </ion-tab-bar>
</footer>
