<ion-header>
  <ion-toolbar class="toolbar">
    <div class="cont-ubicacion">
      <ion-row class="ion-align-items-center">
        <ion-col size="auto">
          <ion-avatar>
            <ion-buttons>
              <img src="assets/icon/isotipo-gray.png" alt="">
            </ion-buttons>
          </ion-avatar>
        </ion-col>
        <ion-col>
          <ion-title mode="md">
            <ion-label>
              <ion-text>Estás en</ion-text>
              <p>
                Santiago, Chile
                <ion-icon color="dark" name="chevron-down-outline"></ion-icon>
              </p>
            </ion-label>
          </ion-title>
        </ion-col>
        <ion-col size="auto">
          <ion-buttons>
            <ion-button routerLink="">
              <ion-icon name="settings-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="account-card">
    <ion-card-header>
      <ion-card-title>Datos de la Cuenta</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-item>
        <ion-label position="stacked">Correo Electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="userEmail" disabled></ion-input>
      </ion-item>

      <!-- Fecha de Registro -->
      <ion-item>
        <ion-label position="stacked">Fecha de Registro</ion-label>
        <ion-input type="text" [(ngModel)]="creationTime" disabled></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" (click)="logout()" color="danger" fill="outline">Cerrar sesión</ion-button>
</ion-content>

<footer class="footer">
  <!-- ion tab -->
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="cuenta" routerLink="/cuenta">
        <ion-icon name="person-outline"></ion-icon>
        Cuenta
      </ion-tab-button>
      <ion-tab-button tab="menu" routerLink="/menu-principal">
        <ion-icon name="home-outline"></ion-icon>
        Menú
      </ion-tab-button>
      <ion-tab-button tab="Pedidos" routerLink="/pedidos">
        <ion-icon name="pizza-outline"></ion-icon>
        Pedidos
      </ion-tab-button>
      <ion-tab-button tab="restaurant" routerLink="/restaurantes">
        <ion-icon name="restaurant-outline"></ion-icon>
        Restaurantes
      </ion-tab-button>
      <ion-tab-button tab="wallet" routerLink="/home">
        <ion-icon name="wallet"></ion-icon>
        Pago
      </ion-tab-button>
    </ion-tab-bar>
</footer>
