<ion-header>
  <ion-toolbar class="toolbar">
    <div class="cont-ubicacion">
      <ion-row class="ion-align-items-center">
        <ion-col size="auto">
          <ion-avatar>
            <ion-buttons>
              <img src="" alt="">
            </ion-buttons>
          </ion-avatar>
        </ion-col>
        <ion-col>
          <ion-title mode="md">
            <ion-label>
              <ion-text>Estás en</ion-text>
              <p>
                Santiago, Chile
                <ion-icon color="dark" name="location-outline"></ion-icon>
              </p>
            </ion-label>
          </ion-title>
        </ion-col>
        <ion-col size="auto">
          <ion-buttons>
            <ion-button routerLink="/pedidos">
              <ion-badge slot="end">&#9679;</ion-badge>
              <ion-icon slot="icon-only" name="cart" color="dark"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </div>
    <div class="barra-busqueda ion-padding">
    </div>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <div class="container-img">
    <div class="banda-promos">
      <img src="assets/icon/1.jpg" alt="">
    </div>

    <div class="banda-etiquetas">
      <div class="topic" style="text-align: center; margin-top: 20px;">
        ¿Qué te gustaría ordenar?
      </div>
      <ion-grid>
        <ion-row style="margin-bottom: 50px;">
          <ion-col size="4">
            <img src="https://static.vecteezy.com/system/resources/previews/022/911/694/non_2x/cute-cartoon-burger-icon-free-png.png" alt="Pizza" width="400px" height="400px">
            <ion-label style="margin-left: 45px;">Burger</ion-label>
          </ion-col>
          <ion-col size="4">
            <img src="https://static.vecteezy.com/system/resources/previews/024/725/117/non_2x/pizza-pizza-pizza-with-transparent-background-ai-generated-free-png.png" alt="Hamburguesa" width="400px" height="600px">
            <ion-label style="margin-left: 45px;">Pizza</ion-label>
          </ion-col>
          <ion-col size="4">
            <img src="https://assets.niusushi.cl/production/images/3d6f78f6-32a3-41f2-a58f-b3b8e0405b8f/large/Special-Niu.webp?1673202581" alt="Sushi" width="400px" height="400px">
            <ion-label style="margin-left: 45px;">Sushi</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <ion-card *ngFor="let restaurante of restaurantes.slice(0, 3)">
    <img [src]="restaurante.img" alt="{{ restaurante.nombre }}" />
    <ion-card-header style="text-align: center;">
      <ion-card-title>{{ restaurante.nombre }}</ion-card-title>
      <ion-card-subtittle>{{ restaurante.especialidad }}</ion-card-subtittle>
    </ion-card-header>
    <ion-card-content>
      <ion-tab-button routerLink="/restaurantes" fill="outline">visitar</ion-tab-button>
    </ion-card-content>
  </ion-card>
  
  <div class="topic" style="text-align: center; margin-top: 20px;">
    Tu ubicacion
  </div>
  <div class="map" #map>
  </div><br>
</ion-content>


<footer class="footer">
  <!-- ion tab -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="cuenta" routerLink="/cuenta">
      <ion-icon name="person-outline"></ion-icon>
      Cuenta
    </ion-tab-button>
    <ion-tab-button tab="menu" routerLink="/menu-principal">
      <ion-icon name="home-outline"></ion-icon>
      Menú
    </ion-tab-button>
    <ion-tab-button tab="Pedidos" routerLink="/pedidos">
      <ion-icon name="pizza-outline"></ion-icon>
      Pedidos
    </ion-tab-button>
    <ion-tab-button tab="restaurant" routerLink="/restaurantes">
      <ion-icon name="restaurant-outline"></ion-icon>
      Restaurantes
    </ion-tab-button>
  </ion-tab-bar>
</footer>