<ion-header [style.visibility]="content_visibility">
  <ion-toolbar>
    <ion-title>
      Pago
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [style.visibility]="content_visibility">

  <ion-card class="ion-text-center">
    <ion-card-content>
      <qrcode 
        [qrdata]="qrCodeString" 
        [width]="256" 
        [errorCorrectionLevel]="'M'">
      </qrcode>
    </ion-card-content>
  </ion-card>

  <ion-button
    expand="block" 
    class="ion-margin" 
    (click)="startScan()">
    Escanear código vendedor
  </ion-button>

  

  <ion-item *ngIf="scannedResult">
    <ion-label class="ion-text-wrap">Pago: {{scannedResult}}</ion-label>
  </ion-item>
  <!-- asd -->
  <div class="metodo-pago-container">
    <ion-card>
      <h1>Modificar metodo de pago</h1>
      <p>Nombre titular: {{nombre}}</p>
      <ion-button id="open-modal" expand="block">Modificar</ion-button>
    </ion-card>
  </div>

  <ion-button id="open-modal" expand="block" (click)="pagarCarrito()">Pagar</ion-button>


  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancelar</ion-button>
          </ion-buttons>
          <ion-title>Ingrese datos</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirmar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div class="container">
          <h2>Ingresa los datos de tu tarjeta</h2>
          <form #myForm="ngForm">
            <div class="form-group">
              <label for="card-number">Número de Tarjeta:</label>
              <input type="text" id="card-number" name="cardNumber" placeholder="1234 5678 9012 3456" required>
            </div>
            <div class="form-group">
              <label for="cardholder-name">Nombre del Titular:</label>
              <input type="text" id="cardholder-name" name="cardholderName" placeholder="Nombre Apellido" required [(ngModel)]="name">
            </div>
            <div class="form-group">
              <label for="expiry-date">Fecha de Expiración:</label>
              <input type="text" id="expiry-date" name="expiryDate" placeholder="MM/AA" required>
            </div>
            <div class="form-group">
              <label for="cvv">CVV:</label>
              <input type="number" id="cvv" name="cvv" placeholder="123" required>
            </div>
            <div class="form-group">
              <label for="card-type">Tipo de Tarjeta:</label>
              <select id="card-type" name="cardType" required>
                <option value="visa">Visa</option>
                <option value="mastercard">Mastercard</option>
                <option value="amex">American Express</option>
              </select>
            </div>
            <div class="form-group">
              <!-- Otros campos si los hubiera... -->
            </div>
          </form>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  
</ion-content>
<footer class="footer">
  <!-- ion tab -->
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="cuenta" routerLink="/cuenta">
        <ion-icon name="person-outline"></ion-icon>
        Cuenta
      </ion-tab-button>
      <ion-tab-button tab="menu" routerLink="/menu-principal">
        <ion-icon name="home-outline"></ion-icon>
        Menú
      </ion-tab-button>
      <ion-tab-button tab="Favoritos">
        <ion-icon name="pizza-outline"></ion-icon>
        Pedidos
      </ion-tab-button>
      <ion-tab-button tab="restaurant" routerLink="/restaurantes">
        <ion-icon name="restaurant-outline"></ion-icon>
        Restaurantes
      </ion-tab-button>
      <ion-tab-button tab="wallet" routerLink="/home">
        <ion-icon name="wallet"></ion-icon>
        Pago
      </ion-tab-button>
    </ion-tab-bar>
</footer>